<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  		#main{
  			background:#2874F0;	
  			margin-top:0px;
  			padding-top: 0px;
  		}

  		.container-filled{
  			
  		}

  		#top{
  			color:white;
  			font-family:'Lato',sans-serif;
  		}

  		#heading{
  			margin-top: 25px;
  			margin-left:550px;
  			font-size:50px;
  		}

  		#sub{
  				
  			margin-left: 675px;
  			padding-bottom: 15px;
  		}
  		#content{
  			margin-top: 40px;
  			margin-left: 50px;
  			margin-right: 50px;
  			font-family:'Lato',sans-serif;
  		}

  		#contri{
  			margin-top: 50px;
  			margin-left: 400px;
  			font-size:20px;
  			margin-bottom: 20px;
  		}

  		.first{
  			border-left: 10px;
  		}

  </style>
</head>

<body>
	<div id="main">
			<div id="top">
				<div id="heading">FinStack</div>
				<div id="sub">The Financial Aggregator</div>
			</div>
		
	</div>

	<div class="container">
		<div id="content">
			<p>
			Account aggregation is a method that involves compiling information from different accounts, which may include bank accounts, credit card accounts, investment accounts, and other consumer or business accounts, into a single place. This may include a database or may be provided through "screen scraping" where a user provides the requisite account-access information for an automated system to gather and compile the information into a single page. Usually this database resides in a web-based application or in client-side software.
			</p>

			<p>
				Aggregation in the futures markets is a principal involving the combination of all future positions owned or controlled by a single trader or group of traders. Aggregation in financial planning is a time-saving accounting method that consolidates an individual’s financial data from various institutions. It is increasingly popular with advisers for servicing clients’ accounts.

			<p>

			<p>
				
				<b>Importance of Account Aggregation</b>
				Account aggregation services solve the issue by providing a convenient method for obtaining current position and transaction information about accounts held at mostly any retail bank or brokerage. Because investors’ privacy is protected, disclosing their personal-access information for each non-managed account is unnecessary.

				Financial planners use aggregate account software for analyzing a client’s total assets, liabilities and net worth; income and expenses; and trends in assets, liability, net worth and transaction values. The advisor also assesses various risks in a client’s portfolio before making investment decisions.

			</p>

			<hr>

			<div id="contri"><b>Contributors</b></div>
			<div class="container">
  				<div class="row">
    			<div class="col-sm-4" "first">
    				<p><b>Himanshu Singh</b></p>
    				

    			</div>
				<div class="col-sm-4">
					<p><b>Manish Upreti</b></p>

				</div>

				<div class="col-sm-4">
					<p><b>Rajiv Tiwari</b></p>
					
					
				</div>

  			</div>

  			<hr>






		</div>
	</div>
</div>

</body>
</html>
