<!DOCTYPE html>
<html>
<head>
	<title>Aggregator</title>
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
 <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/stylesheets/content.css">
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span id="home">Home</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right"> 
      <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>
 
 <div class="container">
 <div class="row">
  <div class="col-lg-12">
 <div id="content">
 <h1>FIN-STACK</h1>
 <h3>Your Banking Partner</h3>
 <hr>

 <form action="/login" method="GET" >
    <button class="btn btn-default btn-lg"> Get Started! </button>
 </form>
 <!--<button class="btn btn-default btn-lg" href=""><i class="fa fa-paw" aria-hidden="true"></i> Get Started!</button>-->
 
 </div>
 </div>
 </div>
 </div>
 
 <script src="https://use.fontawesome.com/91da733b49.js"></script>
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <% include partials/footer %>